/* Reset CSS */
body {
    font-family: "Comic Sans MS", cursive; /* Police originale */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
   
  /* Container */
  .shopping-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
   
  /* Shopping list containers */
  .shopping-list,
  .shopping-list-Achete,
  .add-to-list form {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 48%;
  }
   
  /* Headings */
  h2 {
    margin-top: 0;
    color: #3f3d3d;
    font-size: 1.6rem; /* Taille de police réduite */
    font-weight: bold;
  }
   
  /* Lists */
  ul {
    list-style-type: none;
    padding: 0;
  }
   
  /* Buttons */
  button {
    font-size: 12px;
    padding: 10px 20px; /* Réduction de la taille des boutons */
    border:rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
  }
   
  .delete-button {
    background-color: #ff6f61;
    color: #fff;
  }
   
  .buy-button,
  .add-button {
    background-color: #52c41a;
    color: #fff;
  }
   
  /* Form labels */
  label {
    margin-bottom: 8px;
    color: #333;
    font-size: 1rem; /* Taille de police réduite */
  }
   
  /* Form inputs */
  input {
    margin-bottom: 16px;
    padding: 8px; /* Réduction de la taille du padding */
    border-radius: 5px;
    border: 1px solid #ccc;
  }
   
  /* Footer */
  footer {
    text-align: center;
    font-size: 12px; /* Taille de police réduite */
    color: #888;
    margin-top: 20px;
  }