body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1; /* Couleur de fond claire */
    color: #333; /* Couleur du texte */
}

header.banner {
    background-color: #333; /* Couleur de fond sombre */
    padding: 20px;
    text-align: center;
    border-radius: 0 0 20px 20px; /* Coins arrondis en bas */
    margin-bottom: 20px; /* Marge inférieure */
}

header.banner h1 {
    margin-bottom: 10px; /* Marge inférieure pour le titre */
    color: #fff; /* Texte en blanc */
}

section.about {
    padding: 20px;
}

section.about h2 {
    color: #333; /* Couleur du texte */
}

section.about p {
    font-size: 16px; /* Taille de la police */
    line-height: 1.6; /* Hauteur de ligne */
}