<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Liste de Courses</title>
</head>
<body>

<!-- magasins.component.html -->

<section class="recherche">
    <div style="display: inline-block; margin-right: 10px;">
        <label for="searchMagasin">Rechercher un magasin :</label>
        <input type="text" id="searchMagasin" required [(ngModel)]="nomMagasinRecherche" />
        <button (click)="rechercherMagasin(nomMagasinRecherche)">Rechercher</button>
    </div>
    <div style="display: inline-block; margin-left: 10px;">
        <label for="searchMagasin">Rechercher magasins par type d'aliment :</label>
        <input type="text" id="searchMagasin" required [(ngModel)]="nomMagasinRecherche" />
        <button (click)="rechercherMagasin(nomMagasinRecherche)">Rechercher</button>
    </div>    
</section>


<div class="magasins-container">
    <div *ngFor="let magasin of magasins" class="magasins-item" (click)="selectionnerMagasin(magasin)">
        <!-- Ajoutez la classe "selected" si le magasin est sélectionné -->
        <h3 [class.selected]="magasin === magasinSelectionne">{{ magasin.nom }}</h3>
        <p>Type: {{ magasin.type }}</p>
        <p>URL: <a [href]="magasin.url" target="_blank">{{ magasin.url }}</a></p>
        <p style="word-wrap: break-word;">Type d'aliment: {{ magasin.typeAliment }}</p>
        <!-- Désactivez le bouton si le magasin n'est pas sélectionné -->
        <button (click)="ajouterTypeAliment()" [disabled]="!magasinSelectionne">Ajouter Type d'Aliment</button>
        <input type="text" [(ngModel)]="nouveauTypeAliment" placeholder="Nouveau Type d'Aliment">
    </div>
</div>


<footer>
    <p>&copy; 2023 Mon Application. Tous droits réservés.</p>
</footer>

</body>
</html>
