@import "~leaflet/dist/leaflet.css";

.map-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(40vh - 40px); /* La hauteur est réduite de la hauteur de la barre de navigation */
  width: 80%;
  margin-bottom: 20px;
  position: relative;
}

.map-border {
    border: 5px solid orange;
    height: 70%;
    width: 100%;
    border-radius: 10px;
}

#map {
  width: 100%; 
  height: 70%;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  background-color: #ff6f61;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; /* Assure que la barre de navigation reste au-dessus de la carte */
}
