<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
    <title>KOOL'IT</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <header>
        <img src="https://images.glints.com/unsafe/glints-dashboard.s3.amazonaws.com/company-logo/41a5c853f21587a6b2d82ad5279af976.png" style="width: 150px; height: 150px;" >
    </header>

    <nav>
        <a routerLink="/accueil">Accueil</a>
        <a routerLink="/produits">Produits</a>
        <a routerLink="/liste-de-courses">Liste de courses</a>
        <a routerLink="/magasins">Magasins</a>
        <a routerLink="/map">Carte (recherche magasin)</a>
        <a routerLink="/Wikingredients">Wikingredient</a>
        <a routerLink="/apropos">À Propos</a>
        <a routerLink="/contact">Contact</a>
        
    </nav>

    <ul class="recettes-list" id="recettesList"></ul>

    <router-outlet></router-outlet>
    
    <footer>
        <p>&copy; 2024 KOOL'IT. Tous droits réservés.</p>
    </footer>
</body>
</html>
