<p>
  Bienvenue sur Kool'it le site de vos plaisirs
</p>
<ul>
  <li *ngFor="let recette of recettes">
    {{recette.nom}} |
    Ingrédient : [{{recette.listeIngredients}}] |
    Etape de préparation : [{{recette.etapesPreparation}}]
    <br>
    <button onclick="window.location.href = 'http://localhost:8080/recettes';">Ajouter les ingredients de cette recette dans le panier</button>
    
  </li>
  <br>
  <button onclick="window.location.href = 'https://www.e.leclerc/';">Meilleur Magasin pour acheter sa liste courses</button>
</ul>

<router-outlet></router-outlet>
