<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Liste de Courses</title>
</head>

<body>

  
    <div class="shopping-container">
        <section class="shopping-list">
          <h2>Votre Liste de Courses</h2>
          <ul>
            <li *ngFor="let ingredient of listesCourses">
                {{ ingredient.ingredientsList?.[0]?.quantite }} {{ ingredient.ingredientsList?.[0]?.nom }} - {{ ingredient.ingredientsList?.[0]?.type }}
                <button (click)="supprimerIngredient(ingredient.id)">Supprimer</button>
          </ul>
        </section>
      
        <section class="shopping-list-Achete">
          <h2>Produits achetés</h2>
          <ul>
            <li *ngFor="let ingredient of listesCoursesAchetes">
                {{ ingredient.ingredientsList?.[0]?.quantite }} {{ ingredient.ingredientsList?.[0]?.nom }} - {{ ingredient.ingredientsList?.[0]?.type }}
            </li>
            <button (click)="supprimerListeIngredientAchete()">Supprimer historique des achats</button>
          </ul>
        </section>
      </div>
    
    

      

<section class="add-to-list">
    <h2>Ajouter à la Liste</h2>
    <form>
        <label for="nom">Nouvel ingrédient :</label>
        <input type="text" id="nom" name="nom" required [(ngModel)]="nouvelIngredient.nom">
        <label for="type">Type :</label>
        <input type="text" id="type" name="type" required [(ngModel)]="nouvelIngredient.type">
        <button type="button" (click)="ajouterALaListeDeCourses()">Ajouter</button>
    </form>
</section>



   

    <footer>
        <p>&copy; 2023 Mon Application. Tous droits réservés.</p>
    </footer>

</body>
</html>
