
button {
    font-size: 8px; 
    padding: 0.1px 0.2px; }
.shopping-container {
  display: flex;
}

.shopping-list,
.shopping-list-ok {
  flex: 1;
  margin-right: 20px; /* Espace entre les deux sections, ajustez selon vos besoins */
}

/* Ajoutez d'autres styles selon vos besoins */
