<!DOCTYPE html>
<html>
    <head>
     
    </head>

    <body>
        <div class="card">
            <h2>Plannifier vos repas via Google Calendar</h2>
            <form [formGroup]="appointmentForm" (ngSubmit)="scheduleMeeting()">
              <div class="form-group">
                <label for="eventName">Nom de la recette : </label>
                <input type="text" id="eventName" formControlName="eventName" />
              </div>
              <div class="form-group">  
                <label for="appointmentTime">Date et heure : </label>
                <input type="datetime-local" id="appointmentTime" formControlName="appointmentTime"/>
              </div>
          
              <div class="form-group">
                <label for="email">Veuillez indiquer votre email google: </label>
                <input type="email" id="email" class="form-control" formControlName="email"/>
              </div>
              <br/>
              <button type="submit" id="schedule-button">Ajouter au planning</button>
            </form>
          </div>
          <div class="calendar">
            <button (click)="redirectToGoogleCalendar()" class="bretour">Google Calendar</button>
          </div>
        
    </body>
</html>