.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes de largeur égale */
    height: 100vh;
}

.map-wrapper {
    height: 100%;
    border-radius: 20px; /* Coins arrondis */
    overflow: hidden; /* Cacher le contenu qui dépasse */
}

#sidebar {
    height: 100%;
    padding: 20px;
    background-color: #ff6f61; /* Couleur vive */
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px; /* Coins arrondis */
    overflow: hidden; /* Cacher le contenu qui dépasse */
}

.sidebar-title {
    font-size: 1.8rem; /* Taille du titre */
    font-weight: bold; /* Texte en gras */
    margin-bottom: 20px; /* Marge en bas */
    text-transform: uppercase; /* Mettre en majuscules */
}

.magasins-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.magasins-item {
    background-color: #555; /* Couleur vive */
    border-radius: 15px; /* Coins arrondis */
    padding: 10px;
    color: #fff;
}

.magasins-item h3 {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.magasins-item p {
    margin: 0;
}

.selected {
    border: 2px solid #fff; /* Couleur vive pour les éléments sélectionnés */
}
