body {
  font-family: "Comic Sans MS", cursive;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Deux colonnes : carte à gauche, détails à droite */
  height: 100vh;
  gap: 20px;
  padding: 20px;
}

.map-wrapper {
  width: 100%;
  height: 100%; /* La carte prend toute la hauteur */
  border-radius: 20px;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
}

#sidebar {
  background-color: #ff6f61;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Ajout du défilement si le contenu dépasse la hauteur de l'écran */
}

.sidebar-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

#searchForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#searchForm label {
  margin-bottom: 5px;
}

#searchForm input[type="text"],
#searchForm input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

#searchForm button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #ff6f61;
  cursor: pointer;
  align-self: center;
  width: 50%;
}

#searchForm button:hover {
  background-color: #e65a50;
  color: #fff;
}

.modal-header {
  background-color: #ff6f61;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
}

.modal-title {
  margin: 0;
  font-size: 1.5rem;
}

.modal-body {
  padding: 10px;
}

.magasins-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 10px;
}

.magasins-item {
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ddd;
}

.magasins-item h3 {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.magasins-item p {
  margin: 0;
}

.magasins-item a {
  color: #007BFF;
  text-decoration: none;
}

.magasins-item a:hover {
  text-decoration: underline;
}

.selected {
  border: 2px solid #fff;
}

button {
  font-size: 12px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.delete-button {
  background-color: #ff6f61;
  color: #fff;
}

.buy-button,
.add-button {
  background-color: #52c41a;
  color: #fff;
}

label {
  margin-bottom: 8px;
  color: #333;
  font-size: 1rem;
}

input {
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

footer {
  text-align: center;
  font-size: 12px;
  color: #888;
  margin-top: 20px;
}
