<div class="container">
    <div class="map-wrapper">
        <div class="map-border">
            <div id="map"></div>
        </div>
    </div>
    <div id="sidebar">
        <h2 class="sidebar-title">Magasins</h2>
        <form id="searchForm">
            <label for="cityInput">Ville :</label>
            <input type="text" id="cityInput" name="city" placeholder="Entrez une ville" required [(ngModel)]="ville.nom">
            <button type="button" id="searchButton" (click)="rechercheParVille(ville.nom)">Rechercher</button>
        </form>
        <div class="magasins-container">
            <div>
                <label for="searchMagasin">Rechercher un magasin:</label>
                <input type="text" id="searchMagasin" required [(ngModel)]="nomMagasinRecherche" />
                <button (click)="rechercherMagasin(nomMagasinRecherche)">Rechercher</button>
            </div>
            <div *ngFor="let magasin of magasins" class="magasins-item" (click)="selectionnerMagasin(magasin)">
                <h3 [class.selected]="magasin === magasinSelectionne">{{ magasin.nom }}</h3>
                <p>Type: {{ magasin.typeMagasin }}</p>
                <p>Ville: {{ magasin.ville }}</p>
                <p>URL: <a [href]="magasin.url" target="_blank">{{ magasin.url }}</a></p>
                <p>Type d'aliment: {{ magasin.typeAliment }}</p>
                <p>Vous y trouverez :</p>
                <ul>
                    <li *ngFor="let ingredient of magasin.listesCourses">
                        {{ ingredient.ingredientsList?.[0]?.quantite }} {{ ingredient.ingredientsList?.[0]?.nom }}
                        <button (click)="acheterIngredient(ingredient)">Produit acheté</button>
                    </li>
                </ul>
                <button (click)="ajouterTousALaListeDeCourses(magasin)">Tous les produits achetés</button>
            </div>
        </div>
    </div>
</div>

