<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koolit - Les recettes</title>
</head>
<body>
    <p>
        Voici la liste de nos meilleurs recettes
      </p>
      <ul>
        <li *ngFor="let recette of recettes">
          {{recette.nom}}
          <br>
          Ingrédient : {{recette.ingredients}}
          <br>
          Etape de préparation : {{recette.etapesPreparation}}
          <br>
          <button onclick="window.location.href = 'http://localhost:8080/recettes';">Ajouter les ingredients de cette recette dans le panier</button>
          <br>
          <br>
        </li>
        <br>
        <button onclick="window.location.href = 'https://www.auchan.fr/';">Meilleur Magasin pour acheter sa liste courses</button>
      </ul>      
</body>
</html>
