<!-- produits.component.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="produits.component.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <title>KOOL'IT</title>
    <style>
          .recettes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recette-card {
    width: 48%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.recette-card img {
    max-width: 30%; 
    height: auto;
}

    input {
        width: 5%;
        margin-bottom: 20px;
    }
    </style>
</head>
<body>
    <header>
        <section class="recettes">
            <h2>Liste de Recettes</h2>
            <button (click)="trierParNote()">Trier par note</button>
            <div class="recettes-container">
                <div *ngFor="let recette of recettes" class="recette-card">
                    <img src="{{recette.photoPath}}" alt="Photo de la recette">
                    <h3>{{ recette.nom }} (pour {{ recette.nbPersonnes }} personnes)</h3>
                    
                    <p>Ingrédients:</p>
                    <ul>
                        <li *ngFor="let ingredient of recette.ingredients">
                            {{ ingredient.quantite }} {{ ingredient.nom }} - {{ ingredient.type }}
                        </li>
                    </ul>
                    <p>Note: {{ recette.note }}</p>

                    <form action="/votre-endpoint-de-soumission" method="post">

                
                        <label for="nombrePersonnes{{ recette.recetteId }}">Nombre de Personnes :</label>
                        <input type="number" id="nombrePersonnes{{ recette.recetteId }}" name="nombrePersonnes{{ recette.recetteId }}" [(ngModel)]="recette.personnesEnPlus" min="1" value="4" >
                        
                        <button (click)="augmenterPart(recette, recette.personnesEnPlus)">Soumettre</button>
                    </form>


                    <label for="note{{ recette.recetteId }}">Ajouter une note:</label>
                    <input type="number" id="note{{ recette.recetteId }}" name="note{{ recette.recetteId }}" [(ngModel)]="recette.nouvelleNote" />


                    <button (click)="noterRecette(recette, recette.nouvelleNote)">Noter</button>

                    <button (click)="ajouterTousALaListeDeCourses(recette)">Ajouter tous à la Liste</button>
                </div>
            </div>
        </section>
    </header>

    
    

</body>
</html>